.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__nRc5T {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-u4mFWF-XrlCcZi);
  display: flex;
  min-width: 0;
}
.freeBox__nRc5T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__nRc5T > :global(.__wab_flex-container) > *,
.freeBox__nRc5T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nRc5T > :global(.__wab_flex-container) > picture > img,
.freeBox__nRc5T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___14Mty {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___14Mty > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___14Mty > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___14Mty > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___14Mty > :global(.__wab_flex-container) > *,
.columns___14Mty > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___14Mty > :global(.__wab_flex-container) > picture > img,
.columns___14Mty
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___14Mty {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___14Mty > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___14Mty > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___14Mty > :global(.__wab_flex-container) > *,
  .columns___14Mty > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___14Mty > :global(.__wab_flex-container) > picture > img,
  .columns___14Mty
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___3AffD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3AffD {
    width: 100%;
  }
}
.freeBox___4LsUs {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___4LsUs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___4LsUs > :global(.__wab_flex-container) > *,
.freeBox___4LsUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4LsUs > :global(.__wab_flex-container) > picture > img,
.freeBox___4LsUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4LsUs {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4LsUs > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___9IRVl {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text___3LSx6 {
  position: relative;
  text-align: left;
}
.bullet__rfLa5:global(.__wab_instance) {
  position: relative;
}
.bullet__xsGAf:global(.__wab_instance) {
  position: relative;
}
.bullet___0CZn:global(.__wab_instance) {
  position: relative;
}
.text__angdG {
  position: relative;
  text-align: left;
}
.freeBox__yNsz8 {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__yNsz8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__yNsz8 > :global(.__wab_flex-container) > *,
.freeBox__yNsz8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yNsz8 > :global(.__wab_flex-container) > picture > img,
.freeBox__yNsz8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yNsz8 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yNsz8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yNsz8 > :global(.__wab_flex-container) > *,
  .freeBox__yNsz8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yNsz8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yNsz8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__pgsFy:global(.__wab_instance) {
  position: relative;
}
.svg__j24Xo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dYRp4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__pz8Km:global(.__wab_instance) {
  position: relative;
}
.svg__uUrfO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__igak {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__sApJp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sApJp {
    width: 100%;
  }
}
.img__srZub {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__srZub > picture > img {
  object-fit: cover;
}
.img__srZub > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__dNrpB {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__dNrpB > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__dNrpB > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__dNrpB > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__dNrpB > :global(.__wab_flex-container) > *,
.columns__dNrpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dNrpB > :global(.__wab_flex-container) > picture > img,
.columns__dNrpB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dNrpB {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dNrpB > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dNrpB > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dNrpB > :global(.__wab_flex-container) > *,
  .columns__dNrpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dNrpB > :global(.__wab_flex-container) > picture > img,
  .columns__dNrpB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__ofn1P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ofn1P {
    width: 100%;
  }
}
.img__bg1JA {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__bg1JA > picture > img {
  object-fit: cover;
}
.img__bg1JA > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__slvDk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__slvDk {
    width: 100%;
  }
}
.freeBox__tmvtx {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__tmvtx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__tmvtx > :global(.__wab_flex-container) > *,
.freeBox__tmvtx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tmvtx > :global(.__wab_flex-container) > picture > img,
.freeBox__tmvtx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tmvtx {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tmvtx > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__fZHow {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__pswRe {
  position: relative;
  text-align: left;
}
.bullet__cf935:global(.__wab_instance) {
  position: relative;
}
.bullet__rsxcM:global(.__wab_instance) {
  position: relative;
}
.bullet___0Q9SX:global(.__wab_instance) {
  position: relative;
}
.text__lghgW {
  position: relative;
  text-align: left;
}
.freeBox___7S5F {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___7S5F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___7S5F > :global(.__wab_flex-container) > *,
.freeBox___7S5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7S5F > :global(.__wab_flex-container) > picture > img,
.freeBox___7S5F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7S5F {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7S5F > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7S5F > :global(.__wab_flex-container) > *,
  .freeBox___7S5F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7S5F > :global(.__wab_flex-container) > picture > img,
  .freeBox___7S5F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___44B6F:global(.__wab_instance) {
  position: relative;
}
.svg___8Bdtp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jHhJr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eXae:global(.__wab_instance) {
  position: relative;
}
.svg___9IlIz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__c9Hl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
