.root {
  display: flex;
  position: relative;
  max-width: 250px;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--token-dzXZ6pAO5), var(--token-dzXZ6pAO5)),
    var(--token-NEon4Y--Z);
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  display: none;
}
.solutions:global(.__wab_instance) {
  position: relative;
  display: none;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column___9Az8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9Az8 {
    width: 100%;
  }
}
.freeBox__tOVgZ {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__tOVgZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__tOVgZ > :global(.__wab_flex-container) > *,
.freeBox__tOVgZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tOVgZ > :global(.__wab_flex-container) > picture > img,
.freeBox__tOVgZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tOVgZ {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tOVgZ > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__vi0Hu {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__bceiR {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__tWnsB:global(.__wab_instance) {
  position: relative;
}
.svg___6S0Yi {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__axZ4C {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__c5Aao:global(.__wab_instance) {
  position: relative;
}
.svg___5OLt {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__gZ4U {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bqOr6:global(.__wab_instance) {
  position: relative;
}
.svg__hEm1V {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__jaDaH {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__zJQxs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zJQxs {
    width: 100%;
  }
}
.img {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__sgV2B {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__sgV2B > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__sgV2B > :global(.__wab_flex-container) > *,
.freeBox__sgV2B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sgV2B > :global(.__wab_flex-container) > picture > img,
.freeBox__sgV2B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__lqQp0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___3KfX {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-isOcCa12xI2662);
}
.svg__cOlNn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__fKAz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___0KRn {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-isOcCa12xI2662);
}
.svg__uLmIi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__sryXq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bzJa0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-isOcCa12xI2662);
}
.svg__n0WT9 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nUrEb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fpRwD {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-isOcCa12xI2662);
}
.svg___5Lp9E {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kbwgn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xOSe {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-isOcCa12xI2662);
}
.svg__jCpMs {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bY4Ef:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__m3Una {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-isOcCa12xI2662);
}
.svg__saSq {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-Rf5V4xnmbjxCFY);
}
.validation:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__rfOta {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__rfOta > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__rfOta > :global(.__wab_flex-container) > *,
.freeBox__rfOta > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rfOta > :global(.__wab_flex-container) > picture > img,
.freeBox__rfOta
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__u5IQn {
  flex-direction: row;
  display: flex;
}
.freeBox__u5IQn > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__u5IQn > :global(.__wab_flex-container) > *,
.freeBox__u5IQn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u5IQn > :global(.__wab_flex-container) > picture > img,
.freeBox__u5IQn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__bmcIb {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__pAypD {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__jiXdP {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__rrIiZ {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__qlwm4 {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
  display: none;
}
.text__iwWlf {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-isOcCa12xI2662);
  font-family: "Inder", sans-serif;
  font-size: 10px;
  text-align: center;
  left: 676px;
  top: 250px;
  z-index: 1;
  align-self: center;
}
